.payment{
    width: 100%;
    & h1{
        font-size: 2.5rem;
        color: $color;
        font-weight:700;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }
    & .noOfPay{
        border: 2px solid $color;
        margin: 1rem 2rem;
        border-radius: 8px;
        padding: 0.5rem ;

    }
    & .search{
        border: 2px solid $color;
        width: 50%;
        margin: 1rem 1.2rem;
        border-radius: 8px;
        padding: 0.5rem ;
    }
    & .noPage{
        border: 2px solid $color;
        width:60px;
        margin: 1rem 1rem;
        border-radius: 8px;
        padding: 0.5rem ;
    }
    & .makeadminbtn{
        background-color: $color;
        color: white;
        padding: 0.5rem;
        width: 80%;
        border-radius: 8px;
    }
    & .removeadminbtn{
        background-color: $button-color;
        color: white;
        padding: 0.5rem;
        width: 80%;
        border-radius: 8px;
    }
}

input[type = 'search']::-webkit-search-cancel-button{
	background-color: $color;
	outline: 1px solid $color;
	border: 1px solid $color;
	-webkit-appearance: none;	
	height: 10px;
	width: 10px;
	border-radius: 50%;
    cursor: pointer;
}



