.products{
    width: 100%;
    & h1{
        font-size: 2.5rem;
        color: $color;
        font-weight:700;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }
    
    & .add{
        width: 100%;
        @include flex(row);
        justify-content: flex-end;
        & button{
            @include flex(row);
            background-color: $color;
            margin-right: 2rem;
            padding: 0.5rem 1rem;
            font-size: 1.3rem;
            border-radius:8px;  
            color: white;
        }
    }
    & .totalproducts{
        border: 2px solid $color;
        margin: 2rem 2rem;
        border-radius: 8px;
        padding: 0.5rem ;

    }
    & .search{
        border: 2px solid $color;
        width: 50%;
        margin: 2rem 1.2rem;
        border-radius: 8px 8px 8px 0;
        padding: 0.5rem ;
    }
    & .noPageLable{
        margin-left: auto;
    }
    & .noPage{
        border: 2px solid $color;
        width:60px;
        margin: 2rem 1rem;
        border-radius: 8px;
        padding: 0.5rem ;
    }
    & .searchType{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $color;
        color: white;
        padding: 0.3rem 0.5rem;
        border-radius: 0 0 8px 8px;
        margin-left: -2px;
        & select{
            color: $color;
            margin-left: 1rem;
            padding: 0.2rem 0.5rem;
            border-radius: 8px;
        }
    }
}

input[type = 'search']::-webkit-search-cancel-button{
	background-color: $color;
	outline: 1px solid $color;
	border: 1px solid $color;
	-webkit-appearance: none;	
	height: 10px;
	width: 10px;
	border-radius: 50%;
    cursor: pointer;
}


